@import "tailwindcss";

:root {
    /* --background: #ffffff; */
    --foreground: #171717;
    --primary: #778873;
    --secondary: #a1bc98;
    --accent: #d2dcb6;
    --background: #f2f5e1;
    --outline: #222222;

    /* breakpoints */
    --xs: "425px";
    --2xs: "375px";
    --3xs: "320px";
}

@theme inline {
    /* --color-background: var(--background); */
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-jockey: var(--font-jockey-one);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-accent: var(--accent);
    --color-background: var(--background);
    --color-outline: var(--outline);

    /* custom breakpoints */
    --breakpoint-xs: var(--xs);
    --breakpoint-2xs: var(--2xs);
    --breakpoint-3xs: var(--3xs);
}
