@import "tailwindcss";

:root {
    /* --background: #ffffff; */
    --foreground: #171717;
    --primary: #d2dcb6;
    --secondary: #a1bc98;
    --accent: #d2dcb6;
    --background: #f2f5e1;
}

@theme inline {
    /* --color-background: var(--background); */
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-jockey: var(--font-jockey-one);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-accent: var(--accent);
    --color-background: var(--background);
}
